body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #3c5aa6;
}

.search-container {
    display: flex;
    margin-bottom: 20px;
}

#search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffcb05;
    color: #3c5aa6;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#result {
    text-align: center;
}

#sprite {
    max-width: 200px;
    height: auto;
}

#pokemon-name {
    color: #3c5aa6;
    margin-bottom: 5px;
}

#pokemon-id {
    font-weight: bold;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}